<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1> Let's Edit Your Selection Here</h1>
    <%- include('./partials/nav') %>
        <form action="/reader/<%= reader._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <label for="name">Your Name</label>
            <input type="text" name="Name" id="name" value="<%= reader.name %>">

            <label for="title">Title</label>
            <input type="text" name="Title" id="title" value="<%= reader.title %>">

            <label for="level">Book Level</label>
            <input type="number" name="Level" id="level" value="<%= reader.level %>">

            <button type="submit">Updates</button>
             <a href="/reader/<%= reader._id %>/edit">
                <button type="button">Update</button></a>
        </form>
        <a href="/reader">Back to Main Page</a>
</body>
</html>